{% extends 'base.html'%}
{% block code %}
{% if rs %}
<script>
    alert("{{rs}}");
</script>
{% endif %}
<div class="row">
    <div class="col-md-12 text-center">
    {% if p %}
        <h1>Update Product</h1>
    {% else %}
        <h1>Add Product</h1>
    </div>
    {% endif %}
    <div class="col-md-6 mx-auto my-4 p-5" style="box-shadow:0px 0px 20px gray;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token%}
            <div class="form-group">
               <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" value="{{p.name}}" placeholder="Product Name" name="pname">
                    </div>
                    <div class="col-md-6">
                        <input type="file" class="form-control" value="{{p.image}}" name="pimage">
                    </div>
               </div>
            </div>
            <div class="form-group">
               <div class="row">
                    <div class="col-md-6">
                        <input type="number" class="form-control" value="{{p.m_price}}" placeholder="Product Market Price(In Rupees)" name="mprice">
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control"value="{{p.s_price}}" placeholder="Product Offered Price(In Rupees)" name="oprice">
                    </div>
               </div>
            </div>
            <div class="form-group">
                <select name="catg" class="form-control" >
                    {% for i in cats %}
                        <option value="{{i.id}}">{{i.c_name}}</option>
                    {% endfor %}
                </select>
            </div>        
            <div class="form-group">
                <textarea name="desc" rows="5" class="form-control" placeholder="Product Description">{{p.description}}</textarea>
            </div>
            <div class="form-group">
                {% if p %}
                <input type="submit" class="btn btn-outline-warning" name="update" value="Update Product">
                {% else %}
                <input type="submit" class="btn btn-outline-primary" name="add" value="Add Product">
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock%}