<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
                    <a href="{% url 'index'%}" class="navbar-brand">MySite</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form class="form-inline" method="post" action="{% url 'index'%}">
                                {% csrf_token %}
                            <input type="search" name="sr" class="form-control " placeholder="Search By name..">
                            <input type="submit" value="search" name="search" class="btn btn-success">
                            </form>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'index'%}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about'%}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle"
                            data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu">
                                {% for i in cats %}
                                    <a href="{% url 'index'%}?p_id={{i.id}}" class="dropdown-item">{{i.c_name}}</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'signout'%}" class="nav-link">Logout {{user.username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'sign'%}" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signin'%}" class="nav-link">Sign In</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% block code %}
        {% endblock%}
        <div class="row bg-dark text-light">
            <div class="col-md-12 text-center">
                <h1>MY FOOTER</h1>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quis ducimus est, excepturi voluptate eius sit nobis architecto quasi asperiores delectus totam natus amet quaerat provident nemo eaque eos ea.</p>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quis ducimus est, excepturi voluptate eius sit nobis architecto quasi asperiores delectus totam natus amet quaerat provident nemo eaque eos ea.</p>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quis ducimus est, excepturi voluptate eius sit nobis architecto quasi asperiores delectus totam natus amet quaerat provident nemo eaque eos ea.</p>
            </div>
        </div>
    </div>
</body>
</html>