{% extends 'base.html'%}
{% load staticfiles %}
{% block code %}
{% if user.is_authenticated%}
<div class="row mt-3">
    <div class="col-md-8 my-5 mx-auto text-center p-4" style="box-shadow:0px 0px 20px gray;">
        <img src="/media/{{profile.profile_pic}}" class="rounded-circle" height="200" width="200">
        <table class="table table-striped">
            <tr>
                <th>USER ID</th>
                <td>{{user.id}}</td>
            </tr>
            <tr>
                <th>USERNAME</th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>FIRST NAME</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <th>LAST NAME</th>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>LAST LOGIN</th>
                <td>{{user.last_login}}</td>
            </tr>
            <tr>
                <th>CONTACT</th>
                <td>{{profile.contact}}</td>
            </tr>
        </table>
    </div>
</div>

{% else %}
<h1>PLEASE SIGNUP > SIGNIN To SEE Dashboard</h1>
{% endif%}
{% endblock %}