{% extends "base.html"%}
{% load staticfiles %}
{% block code %}
{% if rs %}
<script>
    alert("{{rs}}");
</script>
{% endif %}
<div class="row">
{% if user.is_authenticated %}
    <div class="col-md-12 ">
        <h1>Total Products({{total}})</h1>
    </div>
    {% for i in p %}
    <div class="col-md-4 text-center">
        <div class="p-4 m-4" style="box-shadow:0px 0px 20px gray">
            <img src="/media/{{i.image}}" height="250" width="100%">
            <h2>{{i.name}}</h2>
            <h4>
                <del class="text-danger">&#8377;{{i.m_price}}</del>
                <strong class="text-success">&#8377;{{i.s_price}}</strong>
            </h4>
            <p>
                <strong>Cat ID: </strong>{{i.cat.id}} <br/>
                <strong>Cat Name: </strong>{{i.cat.c_name}} <br/>
            </p>
            <p>{{i.description}}</p>
            <em class="float-right">{{i.added_on}}</em><br>
            <a href="/?del={{i.id}}" class="btn btn-danger">Delete</a>
            <a href="{% url 'about'%}?up={{i.id}}" class="btn btn-warning">Update</a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <h1 class='alert alert-danger my-3'>YOU NEED TO LOGIN FIRST</h1>
    <p>Sign Up &gt; Login </p>
{% endif%}
</div>
{% endblock%}
