{% extends 'base.html'%}
{% block code %}
<div class="row mt-5">
    <div class="col-md-4 my-5 p-4 mx-auto" style="box-shadow:0px 0px 20px gray;">
        <form method="post">
            {% csrf_token %}
            {% if status %}
            <p class="alert alert-danger">{{status}}</p>
            {% endif %}
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="usern">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="pas">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Sign In">
            </div>
        </form>
    </div>
</div>
{% endblock %}